table{
    width: 500px;
    align:center;
    border: 5px solid wheat;
   
    
   
   
}
th,td{
    border: 2px solid green;
    padding: 15px;
   
  
  

   
}
#time{
    
    text-transform: uppercase;
    color: black;
}
.left{
    text-align: left;
}
body{
    background-color:wheat;
    background-image: url('photo-1516638489986-0c17c234db55.jfif');
    
    
    
    
}
a{
    text-decoration: none;
    color: blue;
   opacity: ;
}
a:hover{
    background-color:white;
    
}


